  <%# spacing the bottom of the page doesn't get covered by bottom nav bar %>
<div class="nav-bar-spacing"></div>
<nav class="navbar navbar-light border-top fixed-bottom bg-primary">
  <div class="container-fluid d-flex justify-content-around">
    <%= link_to root_path, class: "text-center text-decoration-none text-dark" do %>
      <i class="bi bi-house-fill fs-4"></i><br>
      Home
    <% end %>
    <%= link_to new_location_path, class: "text-center text-decoration-none text-dark" do %>
      <i class="bi bi-plus-circle-fill fs-4"></i><br>
      Add
    <% end %>
    <%= link_to favorites_path, class: "text-center text-decoration-none text-dark" do %>
      <i class="bi bi-heart-fill fs-4"></i><br>
      Favorites
    <% end %>
    <%= link_to profile_path, class: "text-center text-decoration-none text-dark" do %>
      <i class="bi bi-person-fill fs-4"></i><br>
      Profile
    <% end %>
  </div>
</nav>
