<div class="offcanvas offcanvas-bottom" tabindex="-1" id="searchOffcanvasBottom" aria-labelledby="searchOffcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="searchOffcanvasBottomLabel">Search</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    <%= render "shared/search_bar" %>
  </div>
</div>
