<nav class="navbar navbar-light bg-primary fixed-top top-bar">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <% unless current_page?(root_path) %>
      <%= link_to "javascript:history.back()", class: "btn btn-link text-dark p-0 m-0 d-flex align-items-center" do %>
        <i class="bi bi-arrow-left-circle-fill fs-4"></i>
      <% end %>
    <% else %>
      <span class="invisible"><i class="bi bi-arrow-left-circle-fill fs-4"></i></span>
    <% end %>
    <span class="top-bar-title mx-2 text-dark fw-bold">petspot</span>
    <% unless current_page?(root_path) %>
      <button class="btn text-dark p-0 m-0 d-flex align-items-center"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#searchOffcanvasBottom"
              aria-controls="searchOffcanvasBottom">
        <i class="bi bi-search fs-4"></i>
      </button>
    <% else %>
      <span class="invisible"><i class="bi bi-search fs-4"></i></span>
    <% end %>
  </div>
</nav>
