<div id="carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "daniel-brunsteiner-_jd5ryWK5J4-unsplash.jpg", class: "d-block w-100", alt: "Dog"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "Fountain_Yoyogipark.jpeg", class: "d-block w-100", alt: "Dog"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "rui-alves-bUueTEY-FOc-unsplash.jpg", class: "d-block w-100", alt: "Dog"%>
    </div>
  </div>
</div>
<%= render "locations/search", groups: @groups %>
