.amenity-icon {
  width: 40px;
  height: 40px;
  color: $light-gray;
  background-color: #6099de;// blue circle icon size
}

.amenity-label {
  font-size: 14px;
  color: #8A8A8A;
}

.amenity-title {
  font-size: 18px;
  color: #454545;
}

.leashed-dog-icon {
  filter: invert(1);
  background: image-url('leashed_dog.svg');
  background-position: center;
  background-size: contain;
  height: 22px;
  width: 22px;
}

.cooled-icon {
  background: image-url('cooled.svg');
  background-position: center;
  background-size: contain;
  height: 22px;
  width: 22px;
}

.dog-bed-icon {
  background: image-url('dog_bed.svg');
  background-position: center;
  background-size: contain;
  height: 22px;
  width: 22px;
}

.dog-food-icon {
  background: image-url('dog_food.svg');
  background-position: center;
  background-size: contain;
  height: 22px;
  width: 22px;
}

.dog-house-icon {
  background: image-url('dog_house.svg');
  background-position: center;
  background-size: contain;
  height: 20px;
  width: 20px;
}

.dog-run-icon {
  background: image-url('dog_run.svg');
  background-position: center;
  background-size: contain;
  height: 22px;
  width: 22px;
}

.dog-stroller-icon {
  background: image-url('dog_stroller.svg');
  background-position: center;
  background-size: contain;
  height: 22px;
  width: 22px;
}

.heated-icon {
  background: image-url('heated.svg');
  background-position: center;
  background-size: contain;
  height: 22px;
  width: 22px;
}

.umbrella-icon {
  background: image-url('umbrella.svg');
  background-position: center;
  background-size: contain;
  height: 22px;
  width: 22px;
}