.carousel-item.active, .carousel-item-next, .carousel-item-prev {
  display: flex;
  justify-content: center;
}

.carousel-item img {
    margin: 10px;
    height: 350px;
    width: 400px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}
