.filters {
  &.yellow-color {
    --bs-bg-opacity: 1;
    background-color: rgb(251, 206, 101) !important;
  }
  label {
    padding: 6px 8px;
    margin:6px;
    border-radius: 200px;
    box-shadow:0 0 0 2px #006aea;
    display:flex;
    background: #6099de;

  span{
    flex-grow:1;
    text-align:center;
    white-space: nowrap;
    font-size: 11px;
    padding-top: 4px;
    color:rgb(239, 239, 239);
    }

  .checkbox{
    position:absolute;
    transform: scale(0);
  }
  .fa-solid{
    padding:4px;
    background-color:hsl(0, 0%, 94%);
    border-radius:50%;
  }
  i::before {
    opacity: 0;
  }
    .checkbox{
      position:absolute;
      transform: scale(0);
    }
    .fa-solid{
      padding:4px;
      background-color:#f7f7f7;
      border-radius:50%;
    }
    i::before {
      opacity: 0;
    }

    &:has(.checkbox:checked) {
      background: #9067cc;
      i::before {
        opacity: 1;
      }
    }
  }
}
