.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-bar-spacing {
  padding-top: 8px;
  padding-bottom: 8px;
  height: 33.963px;
  background-color: $bg-yellow;
}
