.star-rating {
  color: #41a0ff;
}

.star-rating-put {
  color: #41a0ff;
  font-size: 16px;
}


.review-title {
  font-size: 16px;
}

.review-content {
  font-size: 12px;
}

.review-content-box {
  background-color: #FBCE65;
  height: auto;
  margin: 20px;
}

.review-content-box-user {
  background-color: #ffe097;
  height: auto;
  margin: 20px;
}

.review-text-color {
  color: $text-color;
}

.review-text-color-bold {
  color: $text-color;
  font-weight: bold;
}

.thin-text {
  font-weight: 500;
}