.search_container{
  display: flex;
  width: fit-content;
  margin: 1rem auto 0;
  background: rgb(205, 205, 205);
  border-radius: 200px;
  padding: 6px 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

  button{
      &:focus{
      background-color: rgb(132, 132, 132);
      border-radius: 200px;
      box-shadow: 0 0 0 2px rgb(87, 87, 87);

  }
}
  input{
    width: 240px;
    height: 36px;
    text-align: center;
  }
  &:focus-within{
    box-shadow: 0 0 0 2px rgb(140, 140, 140);
  }

  button, input{
    background-color: transparent;
    border: none;
    &:focus{
      outline:none;
    }
    }
  }
