<%= form_with(url: locations_path, method: :get) do %>
  <div class="search_container">
    <input type="text" name="search" id="search" placeholder="find the next spot">
    <button type="submit" name="commit" data-disable-with="Search">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
  <%= render "locations/filters" %>
<% end %>
