<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="shareModalLabel">Share</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "locations/card", location: location %>
        <div class="row justify-content-center">
          <div class="col-6 col-md-4">
            <button type="button" class="btn btn-light border border-black rounded-pill mb-2 w-100" data-controller="share" data-share-title-value="PetSpot" data-share-text-value="<%= "#{location.name} - #{location.category} " %>" data-share-url-value="<%= location_url(location) %>" data-action="click->share#external">
              <i class="fa-solid fa-share-nodes"></i> share this place
            </button>
            <button type="button" class="btn btn-light border border-black rounded-pill mb-2 w-100"  data-controller="share" data-action="click->share#copy" data-share-url-value="<%= location_url(location) %>">
              <i class="fa-regular fa-clipboard"></i> copy link
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
