<div class="container my-3">
  <%# <%= @locations.count%>
  <%if @locations.any? %>
    <h1>Your Search Results:</h1>
    <p class="locations-found">
      <%= @locations.length %> locations found
    </p>
    <div class="cards">
      <% @locations.each do |location| %>
        <%= render "locations/card", location: location %>
      <% end %>
    </div>
  <% else %>
    <h1>Your Search Results:</h1>
    <p class="locations-found">
      <%= @locations.length %> locations found &#58;&#40;
    </p>
  <% end %>
</div>
