<div class="container my-3">
<%# <%= @locations.count%>
  <h1>Your Search Results</h1>
  <div class="cards">
    <% @locations.each do |location| %>
      <div class="card-trip my-3">
        <%# TODO: Use Cloudinary Image %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2><%= location.name %></h2>
            <p><%= location.category %></p>
          </div>
        </div>
        <%= link_to "", location_path(location), class: "card-trip-link" %>
      </div>
    <% end %>
  </div>
</div>
